@charset "UTF-8";

@font-face {
    font-family: 'Principal';
    src: url('fonts/Capture\ it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --tituloprincipal: 'Principal', sans-serif;
    --paragrafo: 'Montserrat', sans-serif;
    --tabela1: 'Viga', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(214, 214, 214);
}

header {
    background-image: linear-gradient(to bottom, rgb(78, 78, 78), rgb(0, 0, 0));
    color: white;
    padding: 20px;
}

header h1 {
    font: 2.5em var(--tituloprincipal);
    padding: 20px;
    text-align: center;
    color: yellow;
}

#destaque {
    background-color: yellow;
    color: black;
    padding: 0px 10px;
}

header p {
    font: normal 400 1em var(--paragrafo);
    text-align: center;
    line-height: 25px;
    padding: 0px 20px;
}

nav {
    background-color: black;
    text-align: center;
}

.menu {
    display: inline-block;
    background-color: yellow;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    margin-left: -4px;
    font: normal 500 1em var(--paragrafo);
    width: 15vh;
}

.menu:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

.menu:active {
    background-color: black;
    color: yellow;
    transition-duration: 0s;
}

#inicio {
    border-top-left-radius: 30px;
}

#fim {
    border-top-right-radius: 30px;
}

main {
    text-align: center;
    background-color: white;
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.texto {
    font: normal 700 1.2em var(--paragrafo);
    color: rgb(23, 23, 23);
    text-transform: uppercase;
    padding: 100px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font: italic 300 .9em var(--paragrafo);
}

.imagem {
    background-color: black;
    padding: 200px;
}

#costas {
    position: relative;
    background: black url('imagens/costas 2.jpg') top center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 30px 5px rgb(0, 0, 0);
}

#costas p {
    position: absolute;
    color: yellow;
    font: normal 800 4em var(--paragrafo);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    line-height: 100px;
    padding: 150px 0px;
    left: 0px;
    top: 0px;
}

#costas:hover > p {
    background-color: rgba(255, 255, 0, 0.70);
    color: black;
    font-size: 5em;
    transition-duration: 0.5s;
}

#costas:active > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.70);
    font-size: 3em;
    transition-duration: 0.1s;
}

#biceps {
    position: relative;
    background: black url('imagens/Biceps 2.jpg') top center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 30px 5px black;
}

#biceps p {
    position: absolute;
    color: yellow;
    font: normal 800 3em var(--paragrafo);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    line-height: 100px;
    padding: 150px 0px;
    top: 0px;
    left: 0px;
}

#biceps:hover > p {
    background-color: rgba(255, 255, 0, 0.70);
    color: black;
    font-size: 3.3em;
    transition-duration: 0.5s;
}

#biceps:active > p {
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    font-size: 2em;
    transition-duration: 0.1s;
}

#perna {
    position: relative;
    background: black url('imagens/pernas 2.jpg') center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 30px 5px black;
}

#perna p {
    position: absolute;
    color: yellow;
    font: normal 800 2.8em var(--paragrafo);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 100px;
    padding: 150px 0px;
}

#perna:hover > p {
    background-color: rgba(255, 255, 0, 0.70);
    color: black;
    font-size: 3em;
    transition-duration: 0.5s;
}

#perna:active > p {
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    font-size: 2.5em;
    transition-duration: 0.1s;
}

#peito {
    position: relative;
    background: black url('imagens/peito 2.jpg') center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 30px 5px black;
}

#peito p {
    position: absolute;
    color: yellow;
    font: normal 800 3em var(--paragrafo);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 100px;
    padding: 150px 0px;
}

#peito:hover > p {
    background-color: rgba(255, 255, 0, 0.60);
    color: black;
    font-size: 4em;
    transition-duration: 0.5s;
}

#peito:active > p {
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    font-size: 2em;
    transition-duration: 0.1s;
}

#geral {
    position: relative;
    background: black url('imagens/costas\ e\ biceps 2.jpg') top center no-repeat fixed;
    background-size: cover;
}

#geral p {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    color: yellow;
    font: normal 800 2.7em var(--paragrafo);
    text-transform: uppercase;
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 100px;
    padding: 150px 0px;
}

#geral:hover > p {
    background-color: rgba(255, 255, 0, 0.70);
    color: black;
    font-size: 3em;
    transition-duration: 0.5s;
}

#geral:active > p {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    font-size: 2.3em;
    transition-duration: 0.1s;
}

#bloco {
    text-decoration: none;
    width: 100%;
}

aside {
    margin-top: 20px;
    background-color: #2B2B2B;
    text-align: center;
    padding: 50px 0px;
}

aside h2 {
    font: normal 500 2.2em var(--paragrafo);
    text-transform: uppercase;
    color: white;
}

aside p {
    font: normal 300 1em var(--paragrafo);
    width: 70vw;
    margin: auto;
    margin-top: 10px;
    color: white;
    line-height: 25px;
}

#destacado {
    color: yellow;
}

table {
    margin: auto;
    background-color: transparent;
    color: #D5D5D6;
    border-collapse: collapse;
    width: 85vw;
    height: 500px;
    margin-top: 50px;
}

tbody > tr:nth-child(odd) {
    background-color: #303033;
}

th {
    padding: 10px 30px;
}

thead > tr {
    font-size: 1.2em;
}

thead > tr > th {
    font-weight: bold;
    font-family: var(--tabela1);
    color: white;
}

tr > th {
    font: normal 400 .9em var(--paragrafo);
    height: 30px;
    width: 50px;
}

tbody > tr {
    font-family: var(--paragrafo);
    font-weight: 400;
    font-size: 1em;
}

#maior {
    width: 800px;
}

#especial {
    background-color: red;
}